# Ignore all
*

# Unignore all with extensions
!*.*

# Unignore all dirs
!*/

# Ignore python caches
__pycache__/

# Unignore homework03
!mystery

# Ignore workspace settings
.vscode/

# Test zip for homework08
homework08/17FA CS-332-A-Firewall Lab-678308.zip

# Unignore shell script for homework08
!moodlefix
